<?xml version="1.0" ?>
<robot name="kukaassembly" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find kukaassembly_description)/urdf/materials.xacro" />
<xacro:include filename="$(find kukaassembly_description)/urdf/kukaassembly.trans" />
<xacro:include filename="$(find kukaassembly_description)/urdf/kukaassembly.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.11156267412620541 0.26195464699806303 0.5872612747611157" rpy="0 0 0"/>
    <mass value="554.6548135471724"/>
    <inertia ixx="16.898939" iyy="17.302187" izz="13.643161" ixy="0.003707" iyz="0.478301" ixz="0.190903"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://kukaassembly_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://kukaassembly_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
